<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HOMEPAGE</h1>
{% if user_name %}
<h1>Hello {{user_name}}</h1>
{% endif  %}

<form method="post" action="/">
    <input type="text" name="contact-name"placeholder="Enter name">
    <br>
    <input type="email" name="contact-email"placeholder="Enter email">
    <br>
    <textarea name="contact-messege" placeholder="Enter your messege"></textarea>
    <br>
    <button type="submit">Submit</button>



</form>

</body>
</html>